//	==========================================================================
//	Frame
//	==========================================================================

.panel-full {

}

.panel-interior {
  margin: 0 auto;
  width: 95%;
  max-width: 1440px;
  padding: 30px 15px;

  &.no-max {
    max-width: none;
  }
}
