//	==========================================================================
//	Global
//	==========================================================================

.dashboard {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  display: flex;
  height: 30px;
  flex-shrink: 0;
  background-color: rgb(226, 241,249);
  border-bottom: 1px solid $border-default;
}

.main-content {
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  overflow: auto;
}

aside {
  width: 250px;
  height: 100%;
  flex-shrink: 0;
  background-color: rgb(226, 241,249);
  border-right: 1px solid $border-default;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  height:100%;
}
