//	==========================================================================
//	Grid
//	==========================================================================

.flex-grid {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -10px;

	.flex-cell {
		padding: 0 10px;
		width: 100%;

		@media all and #{$min-sm} {
			width: 50%;
		}
	}

	&.grid-33 {
		.flex-cell {
			@media all and #{$min-md} {
				width: 33.33%;
			}
		}
	}
	&.grid-25 {
		.flex-cell {
			@media all and #{$min-md} {
				width: 25%;
			}
		}
	}
}
