//	==========================================================================
//	Iconography
//	==========================================================================

.icon {
  cursor: pointer;
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;

  & + .icon {
    margin-left: 12px;
    margin-right: 0;
  }
}
