//	==========================================================================
//	SCAFFOLDING
//	==========================================================================


//	------------------------------------------------------------------------
//	#Generic Scaffolding
//	------------------------------------------------------------------------

* {
	font-weight: 300;
	outline: none;
	outline: 0;
  font-family: $base-font-family;

	@include box-sizing(border-box);
}

html,
body {
  background-color: $base-bg;
  font-family: $base-font-family;
  color: $base-font-color;
  font-size: $base-font-size;
  line-height: $base-line-height;
	margin: 0;
	padding: 0;
  width: 100%;
  height: 100%;
  position: relative;
  opacity: 1 !important;
}

html {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}


//::-moz-selection {
//	background: #b3d4fc;
//	text-shadow: none; }
//::selection {
//	background: #b3d4fc;
//	text-shadow: none; }

// Reset fonts for relevant elements
input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid $border-default;
	margin: 1em 0;
	padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

label {
	color: $gray-2;
}


/*
 * Allow only vertical resizing of textareas.
 */
textarea {
	resize: vertical;
}


// Links




// Figures
//
// We reset this here because previously Normalize had no `figure` margins. This
// ensures we don't break anyone's use of the element.

figure {
	margin: 0;
}


// Images

img {
	max-width: 100%;
	vertical-align: middle;
}

// Text Decoration

strong, b {
	font-weight: 700;
}

i, em {
	font-style: italic;
}


// Only display content to screen readers

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}

// Use in conjunction with .sr-only to only display content when it's focused.

.sr-only-focusable {
	&:active,
	&:focus {
		position: static;
		width: auto;
		height: auto;
		margin: 0;
		overflow: visible;
		clip: auto;
	}
}


// iOS "clickable elements" fix for role="button"
//
// Fixes "clickability" issue (and more generally, the firing of events such as focus as well)
// for traditionally non-focusable elements with role="button"
// see https://developer.mozilla.org/en-US/docs/Web/Events/click#Safari_Mobile

[role="button"] {
	cursor: pointer;
}



//	------------------------------------------------------------------------
//	#Text Colors
//	------------------------------------------------------------------------

.text-light {
	color: $white !important;
}
.text-primary {
	color: $primary-color !important;
}
.text-accent {
	color: $accent-color !important;
}
.text-default {
	color: $gray-2 !important;
}


//	------------------------------------------------------------------------
//	#Background Colors
//	------------------------------------------------------------------------

.bg-light {
	background-color: $white !important;
}
.bg-primary {
	background-color: $primary-color !important;
}
.bg-accent {
	background-color: $accent-color !important;
}
