//	==========================================================================
//	TYPOGRAPHY
//	==========================================================================


//	------------------------------------------------------------------------
//	#Headings
//	------------------------------------------------------------------------

h1, h2, h3, h4, h5, h6 {
  color: $base-headline-color;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
  margin: 3em 0 1.25em 0;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 14px;
  font-weight: 600;
}


//	------------------------------------------------------------------------
//	#Body Text
//	------------------------------------------------------------------------

p {
  color: $base-font-color;
  font-size: $base-font-size;
  margin: 0 0 8px;
}

a,
a:link,
a:visited {
  color: $link-color;
  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    color: $link-hover-color;
    text-decoration: underline;
    cursor: pointer;
  }
}


//	------------------------------------------------------------------------
//	#Lists
//	------------------------------------------------------------------------

// Unordered and Ordered lists
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;

  ul,
  ol {
    margin-bottom: 0;
  }
}


//	------------------------------------------------------------------------
//	#List Options
//	------------------------------------------------------------------------

// Description Lists
dl {
  margin-top: 0; // Remove browser default
  margin-bottom: 9px;
}

dt,
dd {
  line-height: normal;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 0; // Undo browser default
}


//	------------------------------------------------------------------------
//	#Misc
//	------------------------------------------------------------------------

// Addresses
address {
  margin-bottom: 9px;
  font-style: normal;
  line-height: normal;
}
