//	------------------------------------------------------------------------
//	# Z Index
//	------------------------------------------------------------------------


header,
footer {
  z-index: 5;
}

.content {
  z-index: 4;
}