//	==========================================================================
//
//	Buttons
//
//	==========================================================================


.button {
  display: inline-block;
  cursor: pointer;
  font-size: 13px;
  color: white;
  background-color: $primary-color;
  border: 1px solid $primary-color;
  border-radius: $radius;
  padding: 2px 40px;
  text-transform: uppercase;
  font-weight: 600;

  & + .button {
    margin-left: 20px;
  }

  &.white-button {
    color: $primary-color;
    background-color: white;
    border: 1px solid white;
  }

  &.text-button {
    background-color: transparent;
    border: 1px solid transparent;
    padding: 2px 10px;
  }
}
