//	==========================================================================
//
//	Buttons
//
//	==========================================================================


.zoom-tool {
  display: flex;
  flex-wrap: nowrap;
  border: 1px solid $border-default;
  color: $base-font-color;

  .zoom-out,
  .zoom-value,
  .zoom-in {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
  }

  .zoom-out,
  .zoom-in {
    border: none;
    width: 30px;
    padding: 0 10px;
  }

  .zoom-out {
    background-color: rgb(236,236,236);
    border-right: 1px solid $border-default;
  }

  .zoom-value {
    background-color: white;
    padding: 0 20px;
  }

  .zoom-in {
    background-color: rgb(236,236,236);
    border-left: 1px solid $border-default;
  }
}
