//	==========================================================================
//	Colors
//	==========================================================================

$transparent: transparent;
$white: #fff;
$black: #000;

$blue: #346eca;
$blue-dark: #2858a6;
$blue-light: #3a81f0;
$blue-dark-alt: #2e3192;

$gray-1: #242424;
$gray-2: #666;
