//	==========================================================================
//	Mixins
//	==========================================================================

@mixin clearfix {
  clear: both;

  &:after,
  &:before {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin box-sizing($border-box) {
  -webkit-box-sizing: $border-box;
  -moz-box-sizing: $border-box;
  -ms-box-sizing: $border-box;
  -o-box-sizing: $border-box;
  box-sizing: $border-box;
}
