//	==========================================================================
//	Variables
//	==========================================================================
//
//	Table of Contents:
//
//	#Grid
//	#Typography
//	#Branding
//	#Global




//	------------------------------------------------------------------------
//	#GRID
//	------------------------------------------------------------------------

$min-xs: "(min-width: 768px)";
$min-sm: "(min-width: 992px)";
$min-md: "(min-width: 1280px)";
$min-lg: "(min-width: 1590px)";
$min-xl: "(min-width: 1800px)";

$max-xs: "(max-width: 767px)";
$max-sm: "(max-width: 991px)";
$max-md: "(max-width: 1279px)";
$max-lg: "(max-width: 1589px)";
$max-xl: "(max-width: 1799px)";


// Media Query Mixins (mixins come before shared vars so we can't use in mixins.
@mixin min-xs {
  @media all and #{$min-xs} { @content; }
}
@mixin min-sm {
  @media all and #{$min-sm} { @content; }
}
@mixin min-md {
  @media all and #{$min-md} { @content; }
}
@mixin min-lg {
  @media all and #{$min-lg} { @content; }
}
@mixin min-xl {
  @media all and #{$min-xl} { @content; }
}


@mixin max-xs {
  @media all and #{$max-xs} { @content; }
}
@mixin max-sm {
  @media all and #{$max-sm} { @content; }
}
@mixin max-md {
  @media all and #{$max-md} { @content; }
}
@mixin max-lg {
  @media all and #{$max-lg} { @content; }
}
@mixin max-xl {
  @media all and #{$max-xl} { @content; }
}


//	------------------------------------------------------------------------
//	#TYPOGRAPHY
//	------------------------------------------------------------------------

$base-font-size: 14px;
$base-font-family: 'Open Sans',Arial,sans-serif;
$base-line-height: 1.3em;
$base-headline-color: $gray-1;
$base-font-color: $gray-2;
$base-font-weight: 300;
$base-bg: $white;


//	------------------------------------------------------------------------
//	#BRANDING
//	------------------------------------------------------------------------

//Primary Colors
$primary-color: $blue;

$pc1: mix($black, $primary-color, 80%);
$pc2: mix($black, $primary-color, 60%);
$pc3: mix($black, $primary-color, 40%);
$pc4: mix($black, $primary-color, 20%);

$pc6: mix($white, $primary-color, 20%);
$pc7: mix($white, $primary-color, 40%);
$pc8: mix($white, $primary-color, 60%);
$pc9: mix($white, $primary-color, 80%);


//Accent Colors
$accent-color: $blue-dark-alt;

$ac1: mix($black, $accent-color, 80%);
$ac2: mix($black, $accent-color, 60%);
$ac3: mix($black, $accent-color, 40%);
$ac4: mix($black, $accent-color, 20%);

$ac6: mix($white, $accent-color, 20%);
$ac7: mix($white, $accent-color, 40%);
$ac8: mix($white, $accent-color, 60%);
$ac9: mix($white, $accent-color, 80%);


//Links
$link-color: $primary-color;
$link-hover-color: $pc4;
$link-light-blue: $pc9;


// Border Colors
$border-default: mix($white, $gray-2, 20%);


//	------------------------------------------------------------------------
//	#GLOBAL
//	------------------------------------------------------------------------

$border-box: border-box;
$radius: 4px;
$no-radius: 0;
$transform: all .3s ease-in-out 0s;
$button-radius: $radius;
