html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1, h2, h3, h4, h5, h6 {
  color: #242424;
  font-weight: 300;
  line-height: 1.3em;
  margin: 3em 0 1.25em 0; }

h1 {
  font-size: 26px; }

h2 {
  font-size: 18px; }

h3 {
  font-size: 16px; }

h4 {
  font-size: 14px;
  font-weight: 600; }

p {
  color: #666;
  font-size: 14px;
  margin: 0 0 8px; }

a,
a:link,
a:visited {
  color: #346eca;
  text-decoration: none;
  cursor: pointer; }
  a:hover, a:focus, a:active,
  a:link:hover,
  a:link:focus,
  a:link:active,
  a:visited:hover,
  a:visited:focus,
  a:visited:active {
    color: #2a58a2;
    text-decoration: underline;
    cursor: pointer; }

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none; }
  ul ul,
  ul ol,
  ol ul,
  ol ol {
    margin-bottom: 0; }

dl {
  margin-top: 0;
  margin-bottom: 9px; }

dt,
dd {
  line-height: normal; }

dt {
  font-weight: bold; }

dd {
  margin-left: 0; }

address {
  margin-bottom: 9px;
  font-style: normal;
  line-height: normal; }

* {
  font-weight: 300;
  outline: none;
  outline: 0;
  font-family: "Open Sans", Arial, sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  background-color: #fff;
  font-family: "Open Sans", Arial, sans-serif;
  color: #666;
  font-size: 14px;
  line-height: 1.3em;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: relative;
  opacity: 1 !important; }

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-touch-action: manipulation;
  touch-action: manipulation; }

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #858585;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

label {
  color: #666; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

figure {
  margin: 0; }

img {
  max-width: 100%;
  vertical-align: middle; }

strong, b {
  font-weight: 700; }

i, em {
  font-style: italic; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto; }

[role="button"] {
  cursor: pointer; }

.text-light {
  color: #fff !important; }

.text-primary {
  color: #346eca !important; }

.text-accent {
  color: #2e3192 !important; }

.text-default {
  color: #666 !important; }

.bg-light {
  background-color: #fff !important; }

.bg-primary {
  background-color: #346eca !important; }

.bg-accent {
  background-color: #2e3192 !important; }

.icon {
  cursor: pointer;
  font-size: 20px;
  display: inline-block;
  vertical-align: middle; }
  .icon + .icon {
    margin-left: 12px;
    margin-right: 0; }

.flex-grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px; }
  .flex-grid .flex-cell {
    padding: 0 10px;
    width: 100%; }
    @media all and (min-width: 992px) {
      .flex-grid .flex-cell {
        width: 50%; } }
  @media all and (min-width: 1280px) {
    .flex-grid.grid-33 .flex-cell {
      width: 33.33%; } }
  @media all and (min-width: 1280px) {
    .flex-grid.grid-25 .flex-cell {
      width: 25%; } }

.panel-interior {
  margin: 0 auto;
  width: 95%;
  max-width: 1440px;
  padding: 30px 15px; }
  .panel-interior.no-max {
    max-width: none; }

.dashboard {
  display: flex;
  flex-direction: column;
  height: 100%; }

header {
  display: flex;
  height: 30px;
  flex-shrink: 0;
  background-color: #e2f1f9;
  border-bottom: 1px solid #858585; }

.main-content {
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  overflow: auto; }

aside {
  width: 250px;
  height: 100%;
  flex-shrink: 0;
  background-color: #e2f1f9;
  border-right: 1px solid #858585; }

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  height: 100%; }

.button {
  display: inline-block;
  cursor: pointer;
  font-size: 13px;
  color: white;
  background-color: #346eca;
  border: 1px solid #346eca;
  border-radius: 4px;
  padding: 2px 40px;
  text-transform: uppercase;
  font-weight: 600; }
  .button + .button {
    margin-left: 20px; }
  .button.white-button {
    color: #346eca;
    background-color: white;
    border: 1px solid white; }
  .button.text-button {
    background-color: transparent;
    border: 1px solid transparent;
    padding: 2px 10px; }

.zoom-tool {
  display: flex;
  flex-wrap: nowrap;
  border: 1px solid #858585;
  color: #666; }
  .zoom-tool .zoom-out,
  .zoom-tool .zoom-value,
  .zoom-tool .zoom-in {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px; }
  .zoom-tool .zoom-out,
  .zoom-tool .zoom-in {
    border: none;
    width: 30px;
    padding: 0 10px; }
  .zoom-tool .zoom-out {
    background-color: #ececec;
    border-right: 1px solid #858585; }
  .zoom-tool .zoom-value {
    background-color: white;
    padding: 0 20px; }
  .zoom-tool .zoom-in {
    background-color: #ececec;
    border-left: 1px solid #858585; }

.dashboard-interior {
  display: flex;
  height: 100%;
  overflow: auto; }

.breadcrumb-wrapper {
  display: flex;
  height: 40px;
  background-color: #2858a6; }
  .breadcrumb-wrapper .tier-one,
  .breadcrumb-wrapper .page-name {
    display: flex;
    align-items: center;
    font-weight: 600;
    padding: 0 10px 0 15px; }
    .breadcrumb-wrapper .tier-one i,
    .breadcrumb-wrapper .page-name i {
      font-size: 14px; }
  .breadcrumb-wrapper .tier-one {
    position: relative;
    background-color: #ececec; }
    .breadcrumb-wrapper .tier-one:after {
      content: '';
      position: absolute;
      top: 0;
      right: -20px;
      z-index: 1;
      width: 0;
      height: 0;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
      border-left: 20px solid #ececec; }
    .breadcrumb-wrapper .tier-one i {
      margin-right: 10px; }
  .breadcrumb-wrapper .page-name {
    width: 100%;
    padding-left: 40px;
    color: white; }
    .breadcrumb-wrapper .page-name i {
      margin-right: 10px; }

.status-bar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  height: 40px;
  background-color: #2e3192;
  color: #fff;
  font-weight: 600; }
  .status-bar-wrapper p {
    color: #fff;
    margin: 0; }
  .status-bar-wrapper i {
    margin-left: 8px;
    font-size: 14px; }

.tools-panel {
  display: flex;
  flex-direction: column;
  width: 50px;
  flex-shrink: 0;
  height: 100%;
  border-right: 1px solid #858585;
  padding: 10px 0;
  overflow: auto; }
  .tools-panel ul:first-of-type {
    margin-bottom: auto; }
  .tools-panel .tool-list-item {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px; }
    .tools-panel .tool-list-item > p {
      display: none;
      margin: 0;
      font-size: 11px; }
  @media all and (min-width: 1590px) {
    .tools-panel {
      width: 82px; }
      .tools-panel .tool-list-item > p {
        display: block; } }

.canvas {
  width: 100%; }

.sop-panel {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 300px;
  flex-shrink: 0;
  border-left: 1px solid #858585;
  height: 100%;
  overflow: auto; }
  .sop-panel ul {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    overflow: auto; }
  .sop-panel li {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 40px;
    flex-shrink: 0;
    border-bottom: 1px solid #858585;
    padding: 0 20px; }
  .sop-panel i {
    font-size: 20px; }
  .sop-panel span {
    margin-left: 15px;
    margin-right: auto;
    font-weight: 400; }
  .sop-panel .accordion-dropdown {
    font-size: 25px; }
  .sop-panel .sop-actions {
    position: sticky;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
    min-height: 40px;
    background-color: white;
    font-weight: 600; }
    .sop-panel .sop-actions a:last-of-type {
      font-weight: 400; }
