//	==========================================================================
//
//	Dashboard Page
//
//	==========================================================================


.dashboard-interior {
  display: flex;
  height: 100%;
  overflow: auto;
}

.breadcrumb-wrapper {
  display: flex;
  height: 40px;
  background-color: $blue-dark;

  .tier-one,
  .page-name {
    display: flex;
    align-items: center;
    font-weight: 600;
    padding: 0 10px 0 15px;

    i {
      font-size: 14px;
    }
  }

  .tier-one {
    position: relative;
    background-color: rgb(236,236,236);

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: -20px;
      z-index: 1;
      width: 0;
      height: 0;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
      border-left: 20px solid rgb(236,236,236);
    }

    i {
      margin-right: 10px;
    }
  }

  .page-name {
    width: 100%;
    padding-left: 40px;
    color: white;

    i {
      margin-right: 10px;
    }
  }
}

.status-bar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  height: 40px;
  background-color: $accent-color;
  color: $white;
  font-weight: 600;

  p {
    color: $white;
    margin: 0;
  }

  i {
    margin-left: 8px;
    font-size: 14px;
  }
}

.tools-panel {
  display: flex;
  flex-direction: column;
  width: 50px;
  flex-shrink: 0;
  height: 100%;
  border-right: 1px solid $border-default;
  padding: 10px 0;
  overflow: auto;

  ul {
    &:first-of-type {
      margin-bottom: auto;
    }
  }

  .tool-list-item {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;

    & > span {

    }

    & > p {
      display: none;
      margin: 0;
      font-size: 11px;
    }
  }

  @include min-lg {
    width: 82px;

    .tool-list-item {

      & > p {
        display: block;
      }
    }
  }
}

.canvas {
  width: 100%;
}

.sop-panel {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 300px;
  flex-shrink: 0;
  border-left: 1px solid $border-default;
  height: 100%;
  overflow: auto;

  ul {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    overflow: auto;
  }

  li {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 40px;
    flex-shrink: 0;
    border-bottom: 1px solid $border-default;
    padding: 0 20px;
  }

  i {
    font-size: 20px;
  }

  span {
    margin-left: 15px;
    margin-right: auto;
    font-weight: 400;
  }

  .accordion-dropdown {
    font-size: 25px;
  }

  .sop-actions {
    position: sticky;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
    min-height: 40px;
    background-color: white;
    font-weight: 600;

    a {
      &:last-of-type {
        font-weight: 400;
      }
    }
  }
}
